admincu-wsserver/src/main/wsdl/AdministrationCU.wsdl

<wsdl:definitions name="AdministrationCUWSImplService"
	targetNamespace="http://impl.ws.scc.taisachile.cl/" xmlns:ns1="http://ws.scc.taisachile.cl/"
	xmlns:ns2="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://impl.ws.scc.taisachile.cl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:import
		location="AdministrationCU.xsd"
		namespace="http://ws.scc.taisachile.cl/" />
	<wsdl:binding name="AdministrationCUWSImplServiceSoapBinding" type="ns1:AdministrationCUWS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="changeLevelSecurity">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="changeLevelSecurity">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="changeLevelSecurityResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="changePassword">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="changePassword">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="changePasswordResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createUser">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createUser">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createUserResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validateSecurityCode">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="validateSecurityCode">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="validateSecurityCodeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGenericOptions">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getGenericOptions">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getGenericOptionsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserCU">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getUserCU">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getUserCUResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteUserCU">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="deleteUserCU">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="deleteUserCUResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="lockUserByDevice">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="lockUserByDevice">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="lockUserByDeviceResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="existChangePasswordSecurityCodeCurrent">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="existChangePasswordSecurityCodeCurrent">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="existChangePasswordSecurityCodeCurrentResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="generateChangePasswordSecurityCode">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="generateChangePasswordSecurityCode">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="generateChangePasswordSecurityCodeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validateChangePasswordSecurityCode">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="validateChangePasswordSecurityCode">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="validateChangePasswordSecurityCodeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AdministrationCUWSImplService">
		<wsdl:port binding="tns:AdministrationCUWSImplServiceSoapBinding"
			name="AdministrationCUWSImplPort">
			<soap:address location="https://pasadellu:9787/switchws/AdministrationCUWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>